[user]
	name = Pepit0
	email = mainpepito@gmail.com
[core]
  editor = vi
  excludesfile = ~/.gitignore_global
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    sw = switch
	amend = commit --amend --no-edit
	lg = log --oneline --graph --all --decorate
	save = commit -am
	uncommit = reset --soft HEAD~1
